{% extends 'base.html' %}


{% block head %}
<style type="text/css">



</style>
{% endblock %}
 

{% block content %} 
        <div class="page-header">

          <div class='row'>
            <div class='col-md-12'>
                  <h1 id='mainheader'>Accept Payments</h1>
            </div>
          </div>
        </div>


        <div class='row'>

          <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_3tfT9P19AQLjdkOmHXIjG3J4jWUknYKU&scope=read_write&state=1234" class='btn btn-primary'>
            Connect with Stripe</a>


        </div>


{% endblock %}





{% block scripts %}

<script type="text/javascript">
</script>

{% endblock %}



