{% extends 'base.html' %}


{% block head %}
<style type="text/css">



</style>
{% endblock %}
 

{% block content %} 
        <div class="page-header">

          <div class='row'>
            <div class='col-md-12'>
                  <h1 id='mainheader'>Accept Payments</h1>
            </div>
          </div>
        </div>


        <div class='row'>

          <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_3tfT9P19AQLjdkOmHXIjG3J4jWUknYKU&scope=read_write&state=1234" class='btn btn-primary'>
            Connect with Stripe</a>


          <div style='padding-top:20px'>To accept payment, you must first create an account with Stripe.  This takes about 5 minutes and only has to be done once.  All the entered information is hosted on Stripe and we do not have access to, and cannot store, any of the data entered.  Once connected, you can view manage all payments through the Stripe dashboard. </div>
          <div><a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_3tfT9P19AQLjdkOmHXIjG3J4jWUknYKU&scope=read_write&state=1234">
            Click Here</a> to connect with Stripe, or click the button above. </div>

          <h3>Three Easy Steps After Connecting</h3>
          <div>After connection with Stripe you will be redirected back to this site. Then you can...</div>
          <h4>1. Upload Product Info</h4>
            <div>Enter information on the product including the name, a descrition, tags, a preview image, and the product iself</div>
          <h4>2. Upload Images</h4>
            <div>Upload images of the slides by saving the presentation as jpegs.</div>
          <h4>3. Make money and check status in Dashboard</h4>
            <div>Check into the dashboard here to see how much you are making, make edits, and upload more files to sell</div>


        </div>


{% endblock %}





{% block scripts %}

<script type="text/javascript">
</script>

{% endblock %}



