{% extends 'base.html' %}


{% block head %}
<style type="text/css">


</style>
{% endblock %}
 

{% block content %} 
        <div class="page-header">

          <div class='row'>
            <div class='col-md-12'>
                  <h1 id='mainheader'>{{category}}</h1>
            </div>
          </div>
        </div>


        <div class='row'>
            {% for p in products %}
            <div class='col-md-3'>
              <div class='well productwindow'>
                    <div class='imgbox'>
                      <img src="{{MEDIA_URL}}{{p.image}}" width="100%">
                      {% if p.featured%}<span class='banner' style='background-color: rgb(200, 0, 0)'>Featured!</span>{% endif %}
                      {% if p.popular%}<span class='banner' style='background-color: rgb(0, 120, 200)'>Popular!</span>{% endif %}
                      {% if p.new%}<span class='banner' style='background-color: rgb(0, 200, 40)'>New!</span>{% endif %}
                      <button class= 'viewbtn' style='display:none'>
                        <a href="{% url 'productpage' p.id %}"><span class='glyphicon glyphicon-share'></span> View</a>
                      </button>
                    </div>
                    <div class='imgboxlower'>
                      <h4>
                      <a href="{% url 'productpage' p.id %}">{{p.name|capfirst}}</a>
                      </h4>
                      <span class='windowprice'>${{p.price}}</span>
                      <span style='margin-left:10px'><a href="{% url 'category' p.category %}">{{p.category}}</a></span>
                    </div>
              </div>
            </div>
            {% empty %}
            <h3>We couldn't find anything</h3>
            <br>
            <h4>Try making your own presentation and uploading it! If your'e looking for this, others are too!</h4>
            <p>Try searching again or go to the homepage<a href="/"> here</a></p>
            {% endfor %}

          </div>


        </div>
{% endblock %}





{% block scripts %}

<script type="text/javascript">

$(function () {
    $(document).on(
        'mouseenter','.imgbox', function() {
        $(this).find('button').fadeIn(200);
        $(this).css('opacity',0.95);
      });

    $(document).on(
        'mouseleave','.imgbox', function() {
        $(this).find('button').fadeOut(200);
        $(this).css('opacity',1);

      });
});

</script>

{% endblock %}



