{% extends 'base.html' %}


{% block head %}
<style type="text/css">


  .well{
    background-color: #FAFAFA;
  }

  .productwindow h4{
    font-weight: bold;
  }

  .productwindow h4 a{
    color: black;
  }

  .productwindow .windowprice{
    font-weight: bold;
    font-size: 1.3em;
    color: rgb(168, 0, 0) ;
    padding-top: 5px;
  }


</style>
{% endblock %}
 

{% block content %} 
        <div class="page-header">

          <div class='row'>
            <div class='col-md-12'>
                  <h1 id='mainheader'>Popular</h1>
            </div>
          </div>
        </div>


        <div class='row'>
            {% for p in products %}
            <div class='col-md-4'>
              <div class='well productwindow'>
                    <h4>
                      <a href="{% url 'productpage' p.id %}">{{p.name}}</a>
                    </h4>
                    <div class='imgbox'>
                      <img src="{{MEDIA_URL}}{{p.image}}" width="100%">
                      {% if p.featured%}<span class='banner' style='background-color: rgb(200, 0, 0)'>Featured!</span>{% endif %}
                      {% if p.popular%}<span class='banner' style='background-color: rgb(0, 120, 200)'>Popular!</span>{% endif %}
                      {% if p.new%}<span class='banner' style='background-color: rgb(0, 200, 40)'>New!</span>{% endif %}
                    </div>
                    <div class='windowprice'>${{p.price}}</div>
              </div>
            </div>
            {% endfor %}

            <div class='col-md-4'>
              <div class='well'>well</div>
            </div>
          </div>


        </div>
{% endblock %}





{% block scripts %}

<script type="text/javascript">
</script>

{% endblock %}



