{% extends 'base.html' %}


{% block head %}
<style type="text/css">



</style>
{% endblock %}
 

{% block content %} 
        <div class="page-header">

          <div class='row'>
            <div class='col-md-12'>
                  <h1 id='mainheader'>Privacy Policy</h1>
            </div>
          </div>
        </div>


        <div class='row'>
        	<ul>
        		<li></li>
        		<li></li>
        		<li></li>
        		<li></li>
        	</ul>
        </div>


{% endblock %}





{% block scripts %}

<script type="text/javascript">
</script>

{% endblock %}



