{% extends 'base.html' %}


{% block head %}
<style type="text/css">



</style>
{% endblock %}
 

{% block content %} 
        <div class="page-header">

          <div class='row'>
            <div class='col-md-12'>
                  <h1 id='mainheader'>Privacy Policy</h1>
            </div>
          </div>
        </div>


        <div class='row'>
            <div class='col-md-9'>
            <div>DeckRuler does not share personal information of any kind with anyone. We will not sell or rent your name or personal information to any third party. We DO NOT sell, rent or provide outside access to our mailing list or any data we store. Any data that a user stores via our facilities is wholly owned by that user or business. At any time a user or business is free to take their data and leave, or to simply delete their data from our facilities.</div>
            <br>
            <div>DeckRuler only collects such personal information that is necessary for you to access and use our services. This personal information includes, but is not limited to, first and last name, physical address, zip code, email address, phone number, social security number, birth date, credit card information, financial information, and other personal information necessary to generate proper legal documents.</div>
            <br>
            <div>DeckRuler may release personal information if DeckRuler is required to by law, search warrant, subpoena, court order or fraud investigation. We may also use personal information in a manner that does not identify you specifically nor allow you to be contacted but does identify certain criteria about our Site's users in general (such as we may inform third parties about the number of registered users, number of unique visitors, and the pages most frequently browsed).</div>
            </div>

            <div  class='col-md-3'>
                <div class="panel panel-default">
                  <div class="panel-body">
                    Last updated: April 25th, 2014
                  </div>
                </div>
            </div>

        </div>


{% endblock %}





{% block scripts %}

<script type="text/javascript">
</script>

{% endblock %}



