{% extends 'base.html' %}


{% block head %}
<style type="text/css">

  .mainpic{
    padding: 5px;
  }

  #descarea{
    margin-top: 40px;
  }

.simproduct{
  padding-bottom:10px;
}

.simproduct h4{
  border-bottom: 1px solid gray;
  padding: 3px;
}

.bigprice{
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 3em;
  padding: 10px;
  background-color: rgb(227, 255, 224);
}

</style>

<link  href="http://fotorama.s3.amazonaws.com/4.4.9/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
{% endblock %}
 

{% block content %} 
        <div class="page-header">

          <div class='row'>
            <div class='col-md-12'>
                  <h1 id='mainheader'>{{product.name|capfirst}}</h1>
                  <h4>Created on {{product.added_date}}</h4>
            </div>
          </div>
        </div>
        


        <div class='row'>
              <div class='col-md-9'>


                    <div class='row'>
                      <div class='col-md-12'>


                        <div class='col-md-6'>
                             <div class="fotorama mainpic" data-nav="thumbs" data-allowfullscreen="true" data-fit='scaledown' data-width="100%" data-ratio="800/600">          
                              <a href="{{MEDIA_URL}}{{product.image}}"></a>
                              {% for p in productimages %}
                              <a href="{{MEDIA_URL}}{{p.image}}"></a>
                              {% endfor %}
                              </div>

                        </div>
                        <div class='col-md-6'>
                              <h2>{{product.name|capfirst}}</h2>
                              <span class='pull-right bigprice'>${{product.price}}</span>
                              {% for tag in product.tags.all %}
                              <span class="label label-default" style='font-size:0.8em'>{{tag.name}}</span>
                              {% endfor %}
                              <div style= 'padding-top: 3px;'>Category:<a href="{% url 'category' product.category %}">{{product.category}}</a></div>
                              <div id='descarea'>{{product.description|safe}}</div>
                        </div>

                      </div><!--end col 12-->
                    </div><!--end row-->



              </div>


              <div class='col-md-3'>

                <!-- <div class="panel panel-default"> -->
                  <!-- <div class="panel-body"> -->

                {% if user.is_authenticated %}
                      <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style='width:100%'>
                        Buy now!
                      </button>
                      <div style='margin-top:5px; font-size:.8em'>Clicking this button will not bill you.</div>
                {% else %}
                <!-- <button id="customButton">Purchase</button> -->
                      <form action="{% url 'charge' %}" method="POST">{% csrf_token %}
                        <script
                          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                          data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
                          data-name="SlideRuler"
                          data-description="{{product.name}} (${{product.price}})"
                          data-amount="{{stripeprice}}"
                          data-email="{{request.user.email}}"
                          data-allow-remember-me="false"
                          data-label="Pay with Card">
                        </script>
                        <input type='hidden' value='{{product.id}}' name='productid'>
                      </form>
                      <div>Buy now to download.  No signup required!</div>
                {% endif %}


                      
                  <!-- </div>
                </div> -->

                <hr>
                    <h3 class="panel-title">Similar</h3>

                    {% for i in similarproducts %}
                        <div class='simproduct'>
                          <h4><a href="{% url 'productpage' i.id %}">{{i.name|capfirst}}</a></h4>
                          <img src="{{MEDIA_URL}}{{i.image}}" width='100%'>
                        </div>

                    {% empty %}
                    <div>This is a one of a kind!</div>
                    {% endfor %}
   


            </div> <!--end md col 4-->
          </div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Confirm Purchase</h4>
      </div>
      <div class="modal-body">
        <div>We found a card on file.  To confirm the purchase of "{{product.name}}"" and charge the card on file for {{product.price}}, click "Buy with Card on File" below.</div>

        <div>To enter a new card, click on </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            {% if request.user.usercard.usertoken%}
            <form action="{% url 'charge' %}" method="POST">{% csrf_token %}
              <input type='hidden' value='{{product.id}}' name='productid'>
              <button type="submit" class='btn btn-primary'>Buy with card on file</button>
            </form>
            {% endif %}

            <form action="{% url 'charge' %}" method="POST">{% csrf_token %}
              <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
                data-name="SlideRuler"
                data-description="{{product.name}} (${{product.price}})"
                data-amount="{{stripeprice}}"
                data-email="{{request.user.email}}"
                data-allow-remember-me="false">
              </script>
              <input type='hidden' value='{{product.id}}' name='productid'>
            </form>

      </div>
    </div>
  </div>
</div>

{% endblock %}





{% block scripts %}
<script src="https://checkout.stripe.com/checkout.js"></script>

<script type="text/javascript">

//   var handler = StripeCheckout.configure({
//     key: 'pk_test_6pRNASCoBOKtIshFeQd4XMUh',
//     // image: '/square-image.png',
//     token: function(token, args) {
//       // Use the token to create the charge with a server-side script.
//       // You can access the token ID with `token.id`
//     }
//   });

//   document.getElementById('customButton').addEventListener('click', function(e) {
//     // Open Checkout with further options
//     handler.open({
//       name: 'Demo Site',
//       description: '2 widgets ($20.00)',
//       amount: 2000
//     });
//     e.preventDefault();
//   });

</script>

<script src="http://fotorama.s3.amazonaws.com/4.4.9/fotorama.js"></script> <!-- 15 KB -->
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

{% endblock %}



