{% extends 'base.html' %}


{% block head %}
<style type="text/css">



</style>
{% endblock %}
 

{% block content %} 
        <div class="page-header">

          <div class='row'>
            <div class='col-md-12'>
                  <h1 id='mainheader'>Purchases</h1>
            </div>
          </div>
        </div>


        <div class='row'>

            {% for p in products %}
            <div class='col-md-3'>
              <div class='well productwindow'>
                    <div class='imgbox'>
                      <img src="{{MEDIA_URL}}{{p.product.image}}" width="100%">
                      <button class= 'viewbtn' style='display:none'>
                        <a href="{% url 'productpage' p.product.id %}"><span class='glyphicon glyphicon-share'></span> View</a>
                      </button>
                    </div>
                    <div class='imgboxlower'>
                      <h4>
                      <a href="{% url 'productpage' p.product.id %}">{{p.product.name|capfirst}}</a>
                      </h4>
                      <span class='windowprice'>${{p.product.price}}</span>
                    </div>
              </div>
            </div>
            {% empty %}
            <h4>You haven't made any purchases yet</h4>
            <div>Click <a href="/">here to go to the hompage</a> or search above </div>
            {% endfor %}


        </div>
{% endblock %}





{% block scripts %}

<script type="text/javascript">
</script>

{% endblock %}



