{% extends 'base.html' %}


{% block head %}
<style type="text/css">



</style>
{% endblock %}
 

{% block content %} 
        <div class="page-header">

          <div class='row'>
            <div class='col-md-12'>
                  <h1 id='mainheader'><span class="glyphicon glyphicon-ok"></span>  Verified</h1>
            </div>
          </div>
        </div>


        <div class='row'>

        	<h3>Your account has been verified!</h3>
        	<h4>You can now accept payments.</h4>
        	<br>
        	<h4>Go to the <a href="{% url 'upload' %}">Upload Area </a>to sell your first file!</h4>

        </div>


{% endblock %}





{% block scripts %}

<script type="text/javascript">
</script>

{% endblock %}



