{% extends 'base.html' %}


{% block head %}
<style type="text/css">


</style>

{{form.media}}

{% endblock %}
 

{% block content %} 
        <div class="page-header">
          <div class='row'>
            <div class='col-md-12'>
                  <h1 id='mainheader'>Sell a Deck <small>Step 1 of 2</small></h1>
            </div>
          </div>
        </div>
         


        <div class='row'>
          <h4>If you want to sell a deck, you are in the right place</h4>
          <p>First, fill out the form and upload the file and main preview image below. On the next page, you will upload preview images of all the slides.</p>
          <hr>
            <div class='col-md-12'>

                <div class='col-md-8'>
                                      {% load crispy_forms_tags %}
                                        {% crispy form %}

                 <br>
                 <div class="alert alert-block alert-danger filesizeerror" style='display:none'>
                  <ul>
                    <li>File must be less than 4mb</li>
                  </ul>
                </div>

                </div>
                <div class='col-md-4' id='fixedhelper'>
                </div>
            </div>
        </div>


{% endblock %}





{% block scripts %}

<script type="text/javascript">

$(function () {
    $('#id_name').popover({'trigger':'hover', 'content': 'This is the name of the deck. Try to keep it short and sweet', 'container':'body'});

    $('#div_id_description').popover({'trigger':'hover', 'content': 'The description should contain everything someone would want to know about the deck.  You should breakdown exactly what is in the presentation and "sell it" here. This is where you give all the details.', 'container':'body'});

    $('#id_price').popover({'trigger':'hover', 'content': ' $10-$15 is reccomended.  This should be no less than $5.', 'container':'body'});

    $('#id_pages').popover({'trigger':'hover', 'content': 'The number of slides your presentation contains', 'container':'body'});

    $('#id_tags').popover({'trigger':'hover', 'content': 'These are important. Include up to 10 descriptive tags.  Be sure to make one of them the category name. ', 'container':'body'});


});

$(function () {
    $('#id_product_file').bind('change', function() {
      //this.files[0].size gets the size of your file.
    var files = $(this).get(0).files;

       if (files[0].size > 4194304){ // 4 mb
          $('button').prop('disabled', true);
          $('.filesizeerror').show();
          alert('File must be less than 4mb');
       }
       else{
          $('button').prop('disabled', false);
          $('.filesizeerror').hide();

       }
    });


    $('#upload-form').submit(function(){
        $(this).find('button').html('Uploading...').addClass('btn-success transp').removeClass('btn-primary');
        return true;
    }); 


});

</script>

{% endblock %}



